<!DOCTYPE html> 
          <html>  
           <head>  
           <meta charset="utf-8"> 

        <title>this is an locate page</title>  
         </head>   
        <body>    
         <h1>{{pageTitle}}</h1>    
          <p>locate page</p> 
          
            <h1>{{welcomeMessage}}</h1>    
          <p>welcome to locate website</p> 
          
             <h1>{{contactUs}}</h1>    
          <p>I will contact you soon</p>
          
 
    <footer>       
    <p>Copyright {{currentYear}}</p>    
     </footer>  
      </body>
       </html>