<!DOCTYPE html>
<html>
<head>
    <title>
        ACHIEVMENTS PAGE
    </title>
</head>    
    <body>
       <h1>{{achievmentsTitle}}</h1>
        <h2> <b> WRITE ABOUT YOUR ACHIEVMENTS</b></h2>
        <table border="2" bgcolor="grey">
            <tr>
               <td>NAME</td> 
               <td>ACHIEVMENTS</td>
            </tr>
            <tr>
                
             <td>
                AJAY KUMAR KAMAT
            </td>
            <td>
                PARTICIPATED IN QUIZ CONTEST AND GOT SECOND PRIZE
            </td>
            </tr>

           
            
            
        </table>
        
    </body>
</html>
