<!DOCTYPE html>
<html>
<head>
    <title>
        ACHIEVMENTS PAGE
    </title>
</head>    
    <body>
       <h1>{{certificatesTitle}}</h1>
        <h2> <b> WRITE ABOUT YOUR certificates</b></h2>
     <table border="2" bgcolor="dark">
            <tr>
               <td>NAME</td> 
               <td>CERTIFICATES</td>
            <td>INSTITUTIONS</td>
            </tr>
               <tr>
               <td>AJAY KUMAR KAMAT</td> 
               <td>MATRICULATION</td>
            <td>R.H.S,RAJNAGAR</td>
            </tr>
            
            <tr>
               <td>AJAY KUMAR KAMAT</td> 
               <td>INTERMIDATE</td>
            <td>V.S.J COLLEGE,RAJNAGAR</td>
            </tr>
              <tr>
               <td>AJAY KUMAR KAMAT</td> 
               <td>SUMMER TRAINING IN PHP</td>
            <td>RCPL</td>
            </tr>
            
            
        </table>
    
    
    
    
    </body>
</html>
