<!DOCTYPE html>
<html>
<head>
    <title>
        HOBBIES PAGE
    </title>
</head>    
    <body>
       <h1>{{hobbiesTitle}}</h1>
        <h2> <b> WRITE ABOUT YOUR HOBBIES</b></h2>
                    <table border="1" bgcolor="green">
                       <tr>
                           <td>NAME</td>
                           <td>HOBBIES LIST</td>
                       </tr>
                        
                         <tr>
                           <td>AJAY</td>
                           <td>READING ABOUT ENTREPRENEURS,NEWS,LISTINNG MUSIC</td>
                       </tr>
                        
                    </table>
        
    </body>
</html>
