<!DOCTYPE html>
<html>
<head>
    <title>
        EDUCATIONAL QUALIFICATION
    </title>
</head>    
    <body>
       <h1>{{educationTitle}}</h1><br>
        <h2> <b> WRITE ABOUT YOUR EDUCATIONAL QUALIFICATION</b></h2>
        <table border="2" bgcolor="dark">
            <tr>
               <td>NAME</td> 
               <td>COURSE</td>
            <td>PASSING YEAR</td>
            <td>INSTITUTIONS</td>
            </tr>
            <tr>
                <td>AJAY KUMAR KAMAT</td>
                  <td>MATRICULATION</td>
                    <td>2013</td>
                    <td>R.H.S, RAJNAGAR,BIHAR</td>
            </tr>
            <tr>
                <td>AJAY KUMAR KAMAT</td>
                  <td>INTERMIDATE IN SCIENCE</td>
                    <td>2015</td>
                    <td>V.S.J COLLEGE, RAJNAGAR, BIHAR</td>
            </tr>
            <tr>
                <td>AJAY KUMAR KAMAT</td>
                  <td>PERSUING BCA</td>
                    <td>2016-2019</td>
                    <td>LOVELY PROFESSIONAL UNIVERSITY</td>
            </tr>
            
            
        </table>
        
        
        
    </body>
</html>
